<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<!-- 순서가 중요하다! settings=>typeAliases=>environments=>mappers이다. -->
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/> <!-- name의 이름은 약속된 이름을 사용한다.(mybatis사이트), NULL은 꼭 대문자이다. -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias type="kh.test.jdbckh.board.model.dto.AttachFileDto" alias="AttachFileDto"/> <!-- 이게(type)경로 풀네임이다.
		<typeAlias type="kh.test.jdbckh.board.model.dto.BoardDto" alias="BoardDto"/> 
	</typeAliases>
	<environments default="aaa"> <!-- 밑에 중에 default는 이걸로 할거여  -->
	
		<environment id="aaa">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED"> <!-- c+s=>검은색 표시가 젤 먼저 오도록 한다. -->
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:xe"/>
				<property name="username" value="kh"/>
				<property name="password" value="kh"/>
			</dataSource> 
		</environment>
		
		<environment id="bbb">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED"> <!-- c+s=>검은색 표시가 젤 먼저 오도록 한다. -->
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:xe"/>
				<property name="username" value="scott"/>
				<property name="password" value="tiger"/>
			</dataSource> 
	
		</environment>
	</environments>
	<mappers>
		<mapper resource="mappers/board-mapper.xml"/>
	</mappers>
</configuration>
