<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper1"> <!-- 이 페이지를 하나의 class라고 생각했을 때 아무렇게나 적는 이름 -->

<resultMap type="BoardDto" id="BoardResultMap1">
	<id property="bno" column="BNO"/>	<!-- pk는 id이다. -->
	<result property="bcontent" column="bcontent"/>
	<result property="btitle" column="btitle"/>
	<result property="bwriteDate" column="bwrite_Date"/>
	<result property="bref" column="bref"/>
	<collection property="attachFileList">	<!-- join하면 필요함 (collection)  -->
		 <result property="filepath" column="FILE_PATH"/>
	</collection>
</resultMap>

<!-- 걍 하나씩 사용하는거면 이거 사용하면됨 -->
	<select id="selectAttachFile1" resultType="AttachFileDto" parameterType="_int">
	select * from Attach_File where bno=#{bno}
	</select>
	<select id="selectOne1" resultMap="BoardResultMap1" parameterType="_int">
	select BNO, BTITLE, bcontent, to_char(BWRITE_DATE, 'yyyy-mm-dd hh24:mi:ss') 
	BWRITE_DATE, MID, BREF, BRE_LEVEL, BRE_STEP from BOARD
	where BNO=#{bno}
	</select>
	<insert id="insert1" parameterType="map"> <!-- 소문자이다 --><!-- 매개인자 자료형이 두 개라면 Map형태로 가져온다.  -->
	insert into BOARD values (#{nextVal},#{dto.btitle},#{dto.bcontent}, default, #{dto.mid},#{nextVal}, 0,0)<!-- 나머지는 원본글이라 0번0번 -->
	</insert>
</mapper>
